<!-- Project 1 requirements:
1. Build Angular App that displays at least 20 objects in a pinterest style
2. User should be able to add and delete the objects
3. Page should be fully-styled
4. User should be able to search posts by category -->

<!DOCTYPE html>
<html ng-app="pinterest">
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
<!-- for Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
<!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
<!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
 <!-- for javascript -->
    <script type="text/javascript" src="angularController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <!-- for bootstrap CDN-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <!-- link to CSS page -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="mailman1">

<!-- navigation bar -->
<nav class="navbar navbar-default" role="navigation" style="background:transparent">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Mosaic of Me</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <button class="btn btn-primary btn-lg add-button" style="background-color: transparent; padding:5px; color:gray; border-color:gray; font-size:14px; margin-right:5px" data-toggle="modal" data-target="#myModal">
          Add a step!
        </button>
          <input type="text"  ng-model="postfilter" class="search" placeholder="Search" ng-model="searchText"> 
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>



<!-- sorting the actual post -->
<!-- Sort By: 
    <a href="" ng-click="predicate='importance' ">Importance</a>
    <a href="" ng-click="predicate='time' ">Time</a> -->

<!-- Adding a new post! -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body" style="width:300px">
        <form class="addbox" ng-submit ="addPost(pics, goal, time, category);">
        <label>Picture Link</label>
        <input type ="text" ng-model = "pics"><br>

        <label>Goal of the Day</label>
        <input type ="text" ng-model = "goal"><br>

        <label>Time</label>
        <input type ="text" ng-model = "time"><br>

        <label>Category</label>
        <input type ="text" ng-model = "category"><br>
        
        <input type = "submit" value="Submit">

      </form>
      </div>
      </div>
      </div>
      </div>

  <!-- the title -->

 <h4 class="quote" style="text-align:center; color:gray"> <em> A journey of a thousand miles begins with a single step. -Lao Tzu </em> </h4>   
 <h4 style="text-align:center; color:gray; font-weight:normal"> ...so where do you want to go? </h4> <br> <br>

<!--- displaying the posts! -->
<div class="container ugh">
<div class="row">
<div class="item" ng-repeat="post in tracy | filter:postfilter">
    <div class="well">  
    <img class="imgsize" src="{{post.image_url}}">
    <br>
    <strong>Goal of the Day:</strong> {{post.goal}}
    <br>
    <strong>Time: </strong> {{post.time}} minutes
    <br>
    <strong> Category: </strong> {{post.category.join(', ')}}
    <br>

  <!-- deleting a post! -->

<button ng-click="deletePost(post)" style="margin-top:5px">Delete </button>
</div>
</div>
</div>
</div>


<!-- jQuery library -->
  
<!-- Bootstrap JavaScript plugins -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>     
  
</html>